.redEnvelopeRain{
    // min-height: ;
    background-image: url('./assets/bg.png');
    background-size: 100%;
    padding-top: 88px;
    .section-1{
        width:80%;
        margin:0 auto;
        margin-bottom: 50px;
        position: relative;
        text-align: center;
        img{
            width:100%;
            position: relative;
            left:16px;
        }
        >div{
            color:#fdfbe3;
            p{
                font-size: 30px;
                width: 280px;
                margin: 0 auto;
                margin-top: 40px;
            }
            position: absolute;
            top:300px;
            width:100%;
            img{
                width:130px;
                margin-top: 30px;
            }
            .time{
                width:50%;
                height:50px;
                background:#b8281d;
                border-radius: 10px;
                margin:0 auto;
                margin-top: 30px;
                font-size: 40px;
                small{
                    font-size: 20px;
                }
                p{
                    line-height: 50px;
                }
                // .van-count-down{
                //     line-height: 50px;
                //     color:#fff;
                // }
            }
        }
    }
    .section-2,.section-3{
        width:100%;
        text-align: center;
        padding-bottom: 50px;
        .title{
            width:300px;
            margin:0 auto;
            margin-bottom: 40px;
        }
    }
    .section-2{
        img{
            margin-bottom: 0 !important;
        }
        .reward{
            margin:0 auto;
            width:98%;
            height:600px;
            background-image: url('./assets/reward_bg.png');
            background-size: 100%;
            background-repeat: no-repeat;
            h2{
                padding-top:80px;
                color:#330000;
            }
            >div{
                .top{
                    display: flex;
                    margin-bottom: 20px;
                    ul{
                        width:50%;
                        display: flex;
                        padding: 0 50px;
                        li{
                            flex:1;
                            color:#330000;
                        }
                    }
                }
                .bottom{
                    display: flex;
                    .vue-list-marquee-list{
                        &:first-child{
                            border-right: 2px solid #c48b48;
                        }
                        width:50%;
                        height: 300px;
                        overflow: hidden;
                        .list-item{
                            display: flex;
                            padding: 0 50px;
                            padding-bottom: 20px;
                            li{
                                flex: 1;
                                text-align: center;
                                color:#330000;
                            }
                        }
                    }
                }
            }
        }
    }
    .section-3{
        >div{
            text-align: center;
            position: relative;
            margin-bottom: 40px;
            img{
                width:84%;
            }
            .content {
                text-align: left;
                position: absolute;
                top:0;
                width:80%;
                left:50%;
                margin-left: -40%;
                padding:50px 30px;
                h2{
                    font-size: 48px;
                    color:#330000;
                    margin:0;
                    margin-bottom: 30px;
                }
                p{
                    font-size: 30px;
                    color:#330000;
                    width: 80%;
                    line-height: 48px;
                }
            }
        }
    }
    &.en-redEnvelopeRain .section-3 > div img {
        height: calc(238px * 2);
    }
}
